/* <--- LocationSection Style ---> */
.location {
    background-color: gold;
    position: relative;
  }
  
  .location-box {
    background-color: gold;
    border-radius: 10px;
    padding: 20px 15px;
    position: relative;
  }
  
  .box-info {
    border-bottom: 2px solid silver;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }
  
  .box-info i {
    display: inline-block;
    font-size: 20px;
    color: blakc;
    height: 100%;
    margin-right: 10px;
    position: relative;
    left: 0;
  }
  
  .box-info p {
    font-size: 16px;
    font-weight: 500;
    display: inline-block;
    color: black;
  }
  
  .box-map {
    border-radius: 5px;
    height: 350px;
  }
  
  .iframe-map {
    border: 0;
    border-radius: 5px;
    width: 100%!important;
    margin:0!important;
    height: 100%!important;
  }
  